@model BookShop.Models.StoreCartViewModel
@using  BookShop.Data;
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject SignInManager<ApplicationUser> SignInManager

@if (Model.StoreCart.StoreCartItems != null)
{
    @if (Model.StoreCart.StoreCartItems.Count > 0 && SignInManager.IsSignedIn(User))
    {
        <li>
            <a asp-controller="StoreCart">
                @*<span class="glyphicon glyphicon-shopping-cart">Cart:</span>*@
                <span>Cart: </span>
                <span id="cart-status">
                    @Model.StoreCart.StoreCartItems.Count
                </span>
            </a>
        </li>
    }
}

